
@{
    ViewBag.Title = "Order";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Đơn hàng</h1>
            </div>
        </div>
    </div>
</div>
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Danh sách đơn hàng</strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Ngày giờ</th>
                                    <th>User</th>
                                    <th>Sđt</th>
                                    <th>Phương thức thanh toán</th>
                                    <th>Tình trạng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>18:30 22/12/2021</td>
                                    <td><a href="#">quocdai03032000@gmail.com</a></td>
                                    <td><a href="#">0777973833</a></td>
                                    <td><a href="#">COD</a></td>
                                    <td>Chờ xác nhận</td>
                                </tr>
                                <tr>
                                    <td>18:30 22/12/2021</td>
                                    <td><a href="#">quocdai03032000@gmail.com</a></td>
                                    <td><a href="#">0777973833</a></td>
                                    <td><a href="#">Paypal</a></td>
                                    <td>Chờ xác nhận</td>
                                </tr>
                                <tr>
                                    <td>18:30 22/12/2021</td>
                                    <td><a href="#">quocdai03032000@gmail.com</a></td>
                                    <td><a href="#">0777973833</a></td>
                                    <td><a href="#">Momo</a></td>
                                    <td>Chờ xác nhận</td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

