
@{
    ViewBag.Title = "OrderDetail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Đơn hàng chi tiết</h1>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Danh sách đơn hàng</strong>
                        <strong class="Payment-Susscess ">Đã thanh toán</strong>
                        <strong class="Payment-unSusscess hide">Chưa thanh toán</strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Tên sản phẩm</th>
                                    <th>Size</th>
                                    <th>Số lượng</th>
                                    <th>Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Basic Tee</td>
                                    <td>M</td>
                                    <td>1</td>
                                    <td>120.000</td>
                                </tr>
                                <tr>
                                    <td>A Pant</td>
                                    <td>L</td>
                                    <td>1</td>
                                    <td>220.000</td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="total-order">Tổng cộng :</td>
                                    <td class="total-order-number">220.000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-body order_infor">
                        <div class="order_infor_item">Họ và tên : <span>Trần Quốc Đại</span></div>
                        <div class="order_infor_item">Email : <span>quocdai03032000@gmail.com</span></div>
                        <div class="order_infor_item">Số điện thoại : <span>0777973833</span></div>
                        <div class="order_infor_item">Địa chỉ : <span>0777973833</span></div>
                    </div>
                    <div class="card-body order_btn">
                        <a href="#" class="order_suss">Xác nhận đơn hàng</a>
                        <a href="#" class="order_print">In đơn hàng</a>
                        <a href="#" class="order_del">Xoá đơn</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

