
@{
    ViewBag.Title = "ProductManagememt";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Quản lý sản phẩm</h1>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title ">Danh sách sản phẩm</strong>
                        <a href="#" class="addItem"> <i class="fas fa-plus"></i> Thêm sản phẩm</a>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Tên sản phẩm</th>
                                    <th>Loại sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Giá</th>
                                    <th>Giá sale</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#">Tee basic</a></td>
                                    <td>Tee</td>
                                    <td>0</td>
                                    <td>100.000</td>
                                    <td>0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal add addItem -->
<!-- modal add addItem -->
<!-- modal add addItem -->
<div class="addItemModal hide">
    <div class="col-lg-6 card addItemModal_inner">
        <div class="card-header">
            <strong>Thêm sản phẩm</strong>
            <a href="#" class="close_modal"><i class="fas fa-times"></i></a>
        </div>
        <div class="card-body card-block">
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="row form-group">
                    <div class="col col-md-3"><label for="text-input" class=" form-control-label">Tên sản phẩm</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="text-input" name="text-input" placeholder="Text" class="form-control"><small class="form-text text-muted">This is a help text</small></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="textarea-input" class=" form-control-label">Mô tả</label></div>
                    <div class="col-12 col-md-9"><textarea name="textarea-input" id="textarea-input" rows="9" placeholder="Content..." class="form-control"></textarea></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="select" class=" form-control-label">Loại sản phẩm</label></div>
                    <div class="col-12 col-md-9">
                        <select name="select" id="select" class="form-control">
                            <option value="0">Chọn loại sản phẩm</option>
                            <option value="1">Tee</option>
                            <option value="2">Pant</option>
                            <option value="3">Jackket</option>
                            <option value="3">Accessories</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="text-input" class=" form-control-label">Giá sản phẩm</label></div>
                    <div class="col-12 col-md-9"><input type="number" id="text-input" name="text-input" placeholder="VND" class="form-control"></div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3"><label for="file-input" class=" form-control-label">Ảnh chính</label></div>
                    <div class="col-12 col-md-9"><input type="file" id="file-input" name="file-input" class="form-control-file"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="file-input" class=" form-control-label">Ảnh 1</label></div>
                    <div class="col-12 col-md-9"><input type="file" id="file-input" name="file-input" class="form-control-file"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="file-input" class=" form-control-label">Ảnh 2</label></div>
                    <div class="col-12 col-md-9"><input type="file" id="file-input" name="file-input" class="form-control-file"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="file-input" class=" form-control-label">Ảnh 3</label></div>
                    <div class="col-12 col-md-9"><input type="file" id="file-input" name="file-input" class="form-control-file"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="file-input" class=" form-control-label">Ảnh 3</label></div>
                    <div class="col-12 col-md-9"><input type="file" id="file-input" name="file-input" class="form-control-file"></div>
                </div>
                <br>
                <button class="btnAddItem">THÊM SẢN PHẨM</button>
            </form>
        </div>
    </div>
</div>

<script src="~/Areas/Admin/assets/js/script.js"></script>

@*<script src="~/Areas/Admin/vendors/jquery/dist/jquery.min.js"></script>*@
<script src="~/Areas/Admin/vendors/popper.js/dist/umd/popper.min.js"></script>
<script src="~/Areas/Admin/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/Areas/Admin/assets/js/main.js"></script>
<script src="~/Areas/Admin/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/Areas/Admin/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Areas/Admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/Areas/Admin/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="~/Areas/Admin/vendors/jszip/dist/jszip.min.js"></script>
<script src="~/Areas/Admin/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="~/Areas/Admin/vendors/pdfmake/build/vfs_fonts.js"></script>
<script src="~/Areas/Admin/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/Areas/Admin/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/Areas/Admin/vendors/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<script src="~/Areas/Admin/assets/js/init-scripts/data-table/datatables-init.js"></script>
